/* hero section code */

.hero {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-between;
  padding: 5.625rem;
}

.hero__writen-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #335576;
  font-size: large;
  max-width: 45%;
}

.hero__button {
  background-color: #db7a4e;
  border-radius: 50px;
  width: 9.6875rem;
  border: none;
  color: #fff;
  padding: 0.625rem;
}

.hero__Slogan {
    font-size: xx-large;
    display: flex;
    align-items: center;
}

.hero__text {
    font-size: .8rem;
    margin-bottom: 2.1875rem;
}

.hero__image {
    width: 26.5625rem;
    height: 21.875rem;
}

.recomendations {
  background-color: #fff ;
  display: flex;
  flex-direction: column;
}

.recomendations__title {
  color: #335576;
  margin-left: 5.625rem;
  margin-top: 3.125rem;
}

.recomendations_text {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin: 1.25rem;
  justify-content: flex-end;
}

.card-section__card--hawaii {
  background-image: url(/Juan-VelillaMantilla-travelsite/assets/Images/hawaii.jpg);
  background-size: cover;
}

.card-section__card--iceland {
  background-image: url(/Juan-VelillaMantilla-travelsite/assets/Images/iceland.jpg);
  background-size: cover;
}

.card-section__card--greece {
  background-image: url(/Juan-VelillaMantilla-travelsite/assets/Images/greece.jpg);
  background-size: cover;
}

.card-section__card--alignment-recomendations {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}